/**
* keeping body, h3 and h4 tags styling same across all pages to have consistent experience across all pages.
*/
body
{
    background-color: rgb(243, 232, 232);
}
h3
{
    padding : 10px;
    background-color: cadetblue;
    color: white;
}
h4
{
    color: cadetblue;
    background-color: white;
    margin-top: 10%;
}

.contact-list
{
    text-align: center;
    font-family: sans-serif,Arial, Helvetica;
    border-style: groove;
    color: cadetblue;
    font-size: 24px;
}

/**
* keeping portfolio pane styling same as other pages to have consistent feeling across all pages.
*/
#about-me-pane
{
    margin-top: 2%;
    background-color: white;
    font-family: sans-serif,Arial, Helvetica;
    border-style: groove;
}

/**
* below styling is to control image stlying in about me page
*/
.image
{
    width: 100%;
}

.card-header,.card-footer,.card-link
{
    background-color: black;
    font-family: sans-serif,Arial, Helvetica;
    text-align: center;
    color:white; 
}
.card-header:hover,.card-footer:hover
{
    opacity : 0.75;
}

/**
* keeping portfolio pane styling same as other pages to have consistent feeling across all pages.
*/
#portfolio-pane
{
    margin-top: 2%;
    background-color: white;
    font-family: sans-serif,Arial, Helvetica;
    border-style: groove;
    padding-bottom: 2%;
}

/**
* below styling is to control each portfolio image stlying
*/
.portfolio-image
{
    margin: 2%;
    width: 220px;
}

/**
* below styling is to style name plate on each portfolio image
*/
.bottom-center
{
  position: absolute;
  background-color: cadetblue;
  bottom: 5%;
  left: 30%;
  padding:2%;
  text-align: center;
}

/**
* keeping contact pane styling same as other pages to have consistent feeling across all pages.
*/
#contact-pane,#contact-info
{
    margin-top: 2%;
    background-color: white;
    font-family: sans-serif,Arial, Helvetica;
    border-style: groove;
}
#linkedin
{
    float : right;
    margin-right: 5%;
    margin-top: 2%;
    background-color: white;
    border-style: groove;
}

.hide
{
    display:none;
}
.icon-color
{
    color: cadetblue;
}

